@model RT2237A3.Models.TrackWithDetailViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Details for @Model.Name</h4>
    <hr />
    <table>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Name): </b></td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Composer): </b></td>
            <td>@Html.DisplayFor(model => model.Composer)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Milliseconds): </b></td>
            <td>@Html.DisplayFor(model => model.Milliseconds)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.UnitPrice): </b></td>
            <td>@Html.DisplayFor(model => model.UnitPrice)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.AlbumTitle): </b></td>
            <td>@Html.DisplayFor(model => model.AlbumTitle)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.AlbumArtistName): </b></td>
            <td>@Html.DisplayFor(model => model.AlbumArtistName)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.MediaType.Name): </b></td>
            <td>@Html.DisplayFor(model => model.MediaType.Name)</td>
        </tr>
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.TrackId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
