@model RT2237A3.Models.PlaylistEditTracksFormViewModel

@{
    ViewBag.Title = "Playlist details - " + Model.Name;
}
<h1>Playlist details - " + Model.Name</h1>
<div class="row">
    <div class="col-md-6">


        <table>
            @foreach (var track in Model.TrackSelections)
            {
            <tr>
                <td>
                    @*<input type="checkbox" name="selectedTrackIds" value="@track.TrackId" @(track.IsSelected ? "checked" : "" ) />*@
                    <input type="checkbox" name="SelectedTrackIds" value="@track.TrackId" @(track.IsSelected ? "checked" : "" ) />
                </td>
                <td>
                    @track.NameShort
                </td>
            </tr>
            }
        </table>

    </div>
    <div class="col-md-6 card">
        <h4>Now on Playlist</h4>
        @foreach (var track in Model.CurrentTracks)

        {
        <div>

            @*<input type="checkbox" name="TrackIds" value="@track" />*@
            @track.Name
            @* <p>@track.NameShort</p>*@
        </div>
        }
    </div>
</div>@using (Html.BeginForm("Edit", "Playlists", FormMethod.Post))
{
<button type="submit">Save changes</button>}
@*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
 |
@Html.ActionLink("Back to List", "Index")*@