@model RT2237A3.Models.PlaylistEditTracksFormViewModel

@{
    ViewBag.Title = "Playlist details - " + Model.Name;
}

<h1>Playlist details - @Model.Name</h1>

@using (Html.BeginForm("Edit", "Playlists", FormMethod.Post))
{
<div>
    @Html.ActionLink("Back to List", "Index")
    <input type="submit" value="Save changes" style="margin-left: 10px;" />
</div>

<div class="row">
    <div class="col-md-6">
        <table>
            @for (int i = 0; i < Model.TrackSelections.Count(); i++)
            {
            <tr>
                <td>
                    <input type="checkbox" name="SelectedTrackIds[@i]" value="@Model.TrackSelections.ElementAt(i).TrackId" @(Model.TrackSelections.ElementAt(i).IsSelected ? "checked" : "" ) />
                </td>
                <td>
                    @Model.TrackSelections.ElementAt(i).NameShort
                </td>
            </tr>
            }
        </table>
    </div>
    <div class="col-md-6 card">
        <h4>Now on Playlist</h4>
        @foreach (var track in Model.CurrentTracks)
        {
        <div>
            @track.Name
        </div>
        }
    </div>
</div>

<div>
    <input type="submit" value="Save changes" />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
}
